* linguist-detectable=false
* linguist-vendored=true
*.* linguist-detectable=false
*.* linguist-vendored=true
*.sql linguist-detectable=false
*.sql linguist-vendored=true
**/*.sql linguist-detectable=false
**/*.sql linguist-vendored=true